
h4 { 
    display: block;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.floatingbox {
    position: fixed;
    top:   20px;
    right: 20px;
    width: 420px;
    height: 130px;
    background-color: #ff0000;
    border: 1px solid black;
    opacity: 0.7;
    filter: alpha(opacity=70);
}


.floatingbox2 {
    position: fixed;
    top:   20px;
    left: 20px;
    width: 120px;
    height: 25px;
    background-color: #ff0000;
    border: 1px solid black;
    opacity: 0.7;
    filter: alpha(opacity=70);
}


.floatingbox3 {
    position: fixed;
    bottom:   20px;
    left:     20px;
    width: 400px;
    height: 120px;
    background-color: #ff0000;
    border: 1px solid black;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
