
body {
    background-color: #c4daff;
}

h1 {
    text-align: center;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    font-size: 36px;
}

h2 {
    text-align: center;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    font-style: italic;
}

h3 {
    text-align: center;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

.all {
    position: absolute;
    left: 25%;
    top:25%;
    height:50%;
    width:50%;
}

li {
    list-style-type: none; 
    text-align: left:
}

.login_link {
    align:right;
    position: absolute;
    right: 1px;
    top: 1px;
}

.info {
    text-align: left;
}

.box {
    border-style: dashed;
    width: 100%;
    //left: 25%;    
    top-margin: 30px;

    text-align: center;

    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    border-radius: 25px;
    border: 10px solid #73AD21;
    padding-top: 20px; 
    padding-bottom: 20px;

}

.upload {
    text-align: center;

}